h2 {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-me {
    padding-left: 10%;
    text-align: center;
    line-height: inherit;
    
  }

  @media screen and (min-width: 768px) {
    article {
        display: flex;
        flex: 0 1 27%;
        justify-content: flex-end;
      }

    .about-me {
        padding-top: 10%;
        text-decoration: underline;
        text-align: justify;
      }
  }
